@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    overflow-x: hidden;
}
@media (min-width: 1035px) {
    html{
        scroll-snap-type:y proximity;
    }
}
:root{
    --paleblue: rgb(237, 244, 247);
}
body{
    font-family: "Gabarito", sans-serif;
    font-weight:600;
    overflow-x:hidden;
}
a{
    text-decoration:none;
}
#close, #open, #menutog{
    display:none;
}
#open{
    margin-left:auto;
}
nav{
    background-color: white;
    display:flex;
    align-items:center;
    width:100%;
    height:70px;
    padding: 0 6%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    box-shadow: 0px 6px 13px 3px rgba(0,0,0,0.1);
}
nav h1 {
    background-image: linear-gradient(to bottom right, rgb(59, 30, 185) 20%, rgb(67, 155, 218) 65%);
    background-clip: text;
    color: transparent;
}
nav svg {
    fill: black;
    cursor:pointer;
}
.links{
    display:flex;
    align-items:center;
    gap:1em;
    margin-left:auto;
}
.links a{
    display:flex;
    align-items:center;
    padding:0.4em 0.8em;
    font-size:1rem;
    border-radius: 0.8em;
    color: black;
    outline: solid 2px black;
    transition: background-color 0.1s ease-in-out, transform 0.1s cubic-bezier(0, 0.17, 0.08, 0.99);
}
.links svg{
    margin-left: 0.3em;
}
.links a:hover{
    transform: scale(1.08);
}
.links a:not(#contact):hover{
    background-color: rgb(183, 187, 194);
}
#contact:hover{
    background-image: linear-gradient(to bottom right, rgb(74, 77, 240), rgb(81, 182, 230));
}
@media (max-width: 1035px) {
    .links{
        position:fixed;
        right:0;
        top:0;
        flex-direction:column;
        width:50%;
        background-color:rgb(255, 255, 255);
        align-self:flex-start;
        box-shadow: -6px 7px 10px 4px rgba(0,0,0,0.75);
        padding: 1.5em;
        border-radius:0.8em;
        z-index:10;
        transition: transform 0.7s, display 0.7s, box-shadow 0.7s;
    }
    .links svg{
        margin-left: auto;
    }
    .links a{
        width:100%;
    }
    #close{
        display:block;
        transition: transform 0.2s cubic-bezier(0, 0.17, 0.08, 0.99);
        margin-top: 0.5em;
    }
    #close:hover{
        transform: scale(1.2);
    }
    #menutog:checked ~ .links {
        transform:translateY(-100%);
        box-shadow: none;
    }
    #menutog:checked ~ #moverlay{
        display:none;
    }
    #moverlay{
        position:fixed;
        top:0;
        left:0;
        z-index:9;
        background-color: rgba(0, 0, 0, 0.2);
        width:100vw;
        height:100vh;
        display:block;
    }
    #open {
        display:inline;
        transition: transform 0.2s cubic-bezier(0, 0.17, 0.08, 0.99);
        transform:translateY(3px);
    }
    #open:hover{
        transform:scale(1.2) translateY(3px);
    }
}
@media(max-width: 450px){
    nav h1 {
        font-size: 1.2rem;
    }
}
@media(max-width: 355px){
    .links a{
        font-size:0.92rem;
    }
}

main{
    margin-top:70px;
}

.hero{
    width:100%;
    height:calc(100vh - 68px);
    display:flex;
    flex-direction:column;
    background:gray;
    padding: 4% 6% 4.5em 6%;
    background-image:url(Pictures/blue\ background.jpg);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

.slogan {
    background-color:white;
    padding:1.5em 2em;
    width:max-content;
    border-radius:1em;
    display:flex;
    flex-direction:column;
    gap: 0.5em;
    align-items:start;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}
#hq, #for, #at{
    font-weight:600;
    font-size: 2.3rem;
    background-image: linear-gradient(to bottom right, rgb(59, 30, 185) 20%, rgb(67, 155, 218) 100%);
    background-clip: text;
    color: transparent;
}
#hq{
    animation-delay:0.1s;
}
#for{
    animation-delay:0.3s;
}
#at{
    animation-delay:0.5s;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.hero a{
    animation: fadeInLeft 0.8s backwards;
    animation-delay:0.7s;
    z-index: 5;
    margin-top:auto;
    margin-left:auto;
    background-color: rgb(11, 11, 150);
    color:white;
    padding:0.5em 1.5em;
    border-radius:0.8em;
    font-size:1.5rem;
    box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.75);
    transition: background-color 0.1s ease-in-out, 
                box-shadow 0.1s ease, 
                transform 0.1s cubic-bezier(0, 0.17, 0.08, 0.99);
}
.hero a:hover{
    box-shadow: -2px 3px 12px rgba(0, 0, 0, 0.25);
    background-color:rgb(50, 50, 207);
    transform: scale(1.07);
}
@media(min-width: 580px){
    nav{
        padding-left: calc(6% + 1.5em + 5px);
    }
}
@media(max-width: 580px) {
    .hero {
        padding-top:2em;
        padding-left:0;
        padding-right:0;
    }
    #hq, #for, #at{
        font-size: 2rem;
        text-align:center;
    }
    .slogan{
        margin-top: 1.5em;
        margin-left:auto;
        margin-right:auto;
        align-items:center;
    }
    .hero a{
        margin-right: auto;
    }
    .footertop > h1{
        font-size:1.5rem;
    }
}
@media(max-width: 470px) {
    #hq, #for, #at{
        font-size: 1.8rem;
        font-weight:700;
    }
}
@media(max-width: 425px) {
    #hq, #for, #at{
        font-size: 1.6rem;
    }
    .hero a{
        font-size:1.4rem;
    }
}
@media(max-width: 380px) {
    #hq, #for, #at{
        font-size: 1.5rem;
    }
    .hero a{
        font-size:1.3rem;
    }
}
@media(max-width: 360px) {
    #hq, #for, #at{
        font-size: 1.4rem;
    }
}

.abouthome {
    scroll-snap-align: start;
    scroll-margin-top:130px;
    display: flex;
    width:77%;
    margin: 5em auto;
    height:auto;
    align-items:center;
    flex-wrap: wrap;
}
.leftside, .rightside {
    flex: 1;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 0.7em;
}
.leftside h2{
    font-size: 1.8rem;
}
.rightside p{
    margin-left:25px;
    max-width: 60ch;
    font-size:1rem;
    line-height: 1.3;
}
.centerimage{
    flex: 0 0 auto;
    margin: 0 40px;
    height:10em;
    width:10em;
    border-radius:5em;
    background-color:gray;
}
@media (max-width: 1080px) {
    .leftside, .rightside{
      flex-basis: 40%;
    }
    .rightside p {
        margin-top: 3em;
        margin-left:0px;
    }
}
@media (max-width: 860px) {
    .leftside, .rightside{
      flex-basis: 100%; /* One item per row at this breakpoint */
    }
    .leftside h2{
        font-size: 1.6rem;
    }
    .abouthome{
        justify-content:center;
    }
    .centerimage {
        margin-top: 3em;
    }
}

.reasons {
    scroll-snap-align:start;
    scroll-margin-top:80px;
    width:77%;
    margin:4em auto 6em auto;
    height:auto;
}
.reasons h1{
    margin: 0.5em 0 0.5em 0;
    font-size:2.7rem;
}
#offerhr{
    width:30%;
    margin-right:auto;
    border:none;
    border-top:3px solid rgb(67, 102, 216);
}
.list{
    display:flex;
    flex-direction:column;
    gap: 3em;
    margin: 2em 0;
    align-items:center;
    margin-bottom:2.3em;
}
.list h3{
    font-size: 2rem;
}
.list p {
    font-weight:400;
    line-height:1.4;
}
#i1, #i2, #i3 , .features svg{
    align-self: center;
    fill: rgb(255, 255, 255);
    background-image:linear-gradient(to bottom right, rgb(59, 30, 185) 20%, rgb(67, 155, 218) 65%);
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.65);
    border-radius:0.8em;
    height:80px;
    width:80px;
    display:block;
}
#t1, #t2, #t3 {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:0.5em;
    margin-top:0.5em;
    align-self:flex-start;
    flex: 1;
}
@media(max-width: 780px) {
    .list h3 {font-size: 1.7rem;}
}
@media(max-width: 700px) {
    .list h3{font-size:1.4rem;}
    .row1, .row2, .row3 {flex-direction:column;}
    #t1,#t2,#t3{text-align:center;}
    .action h2{width:88%}
}
@media(max-width: 580px) {
    .reasons h1{font-size:2rem;}
}
@media(max-width: 450px) {
    .list h3{font-size:1.05rem;}
    .list p{font-size:1rem;}
}
.row1, .row2, .row3 {
    display:flex;
    width:100%;
    gap:2em;
    justify-content:flex-start;
}


.story{
    position:relative;
    height:auto;
    background-image:url(Pictures/aboutbg.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    color:white;
    padding: 3.5em 8.6% 8em 8.6%;
    overflow: hidden;
}
.story::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(to bottom, rgba(8, 0, 50, 0) 0%, white 100%);
    z-index:2;
}
.storytext{
    margin-right:auto;
    text-align:center;
    max-width:65ch;
    line-height:1.5;
    z-index:3;
}
.storytext p {
    text-align:left;
    font-size:1.07rem;
}
.storytext h1{
    font-size:2.7rem;
    margin-bottom:0.3em;
    text-align:center;
}
.aboutheader{
    scroll-snap-align: start;
    scroll-margin-top:130px;
    width:100%;
    padding:60px 0;
}
.aboutgrid{
    align-items:center;
    width: 85%;
    margin: 0px auto;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:15em 15em;
    grid-template-areas: 
        "A B"
        "C D";
    gap:50px;
}
.aboutgrid h1{
    font-size:2em;
    margin-bottom:0.5em;
}
.aboutgrid p {
    max-width:55ch;
    font-weight:400;
}
.mission{
    border-radius:0.8em;
    line-height:1.4;
    grid-area: A;
    padding:2em;
    height:90%;
}
.computer{
    grid-area:B;
    border-radius:0.8em;
    max-height:90%;
    max-width:100%;
    justify-self:flex-start;
}
.collabpic{
    grid-area: C;
    border-radius:0.8em;
    max-height:90%;
    max-width:100%;
    justify-self:flex-end;
}
.approach{
    border-radius:0.8em;
    padding:2em;
    grid-area: D;
    line-height:1.4;
    height:90%;
}
@media(max-width: 1035px){
    .aboutgrid{
        text-align:center;
        justify-items:center;
        grid-template-columns: 100%; 
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "A"
        "B"
        "C" 
        "D";
        gap:2em;
    }
    .computer{align-self:start; justify-self:center;}
    #mission{
        align-self:center; 
        border:none; 
        padding:0;
        background-color:transparent;
        height:auto;
    }
    .approach{
        height:100%;
        grid-area: C;
        align-content:end;
        border:none;
        padding:0;
        background-color:transparent;
        height:auto;
    }
    .collabpic{
        grid-area: D;
        max-height:100%;
        align-self:start;
        justify-self:center;
    }
    .storytext p{
        text-align:center;
    }
    .storytext{
        margin:0 auto;
    }
}
@media(max-width: 630px){
    .story{
        padding-left:5%;
        padding-right:5%;
    }
}
@media(max-width:490px){
    .aboutheader{padding-top:100px;}
}

.action {
    scroll-snap-type:y mandatory;
    scroll-margin-top:68px;
    scroll-snap-align:start;
    width:100%;
    padding: 5.5em 0;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    gap:3em;
}
.action h2{
    text-align:center;
    line-height: 1.4em;
}
@media(max-width:420px){
    #explore_action{
        font-size:1.2rem;
    }
    .action h2 {
        font-size: 1.22rem;
    }
}
.action a, .pricing a{
    display:inline-block;
    background-color: rgb(11, 11, 150);
    color:white;
    padding:0.5em 1.5em;
    border-radius:0.8em;
    font-size:1.5rem;
    transition: background-color 0.1s ease-in-out, transform 0.1s cubic-bezier(0, 0.17, 0.08, 0.99);
}
.action a:hover, .pricing a:hover{
    background-color:rgb(50, 50, 207);
    transform:scale(1.07);
}

main > hr{
    border:none;
    border-bottom: solid 3px rgb(73, 73, 73);
    width:77%;
    margin: 0 auto;
}


@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.fadeInRight {
    opacity: 0; /* Start hidden */
    animation: fadeInRight 0.8s ease forwards;
}
:root {
    --delay-time: 0.2s;
}
#c1{
    animation-delay: calc(var(--delay-time) * 1)
}
#c2{
    animation-delay: calc(var(--delay-time) * 2)
}
#c3{
    animation-delay: calc(var(--delay-time) * 3)
}
#c4{
    animation-delay: calc(var(--delay-time) * 4)
}
#c5{
    animation-delay: calc(var(--delay-time) * 5)
}
#c6{
    animation-delay: calc(var(--delay-time) * 6)
}
#servicesheader {
    animation-delay:0.05s;
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    font-size:2.7rem;
    padding: 1.5em 6% 0 6%;
    color:rgb(0, 0, 0);
    margin-bottom: 0.4em;
}
#servicehr{
    width:max(10%, 100px);
    margin: 0.5em auto;
    border:none;
    border-bottom:5px solid rgb(0, 0, 0);
}
.features{
    width:100%;
    padding:4em 11%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap:1.5em;
}
@media(max-width: 750px){
    .card{
        width: max(280px, 60%);
    }
    .features{
        display:flex;
        flex-direction:column;
        gap: 3em;
        align-items:center;
    }
}
.card{
    background-color:rgb(234, 235, 236);
    border-radius:0.8em;
    height:24em;
    display:grid;
    grid-template-rows: 25% 25% 50%;
    justify-content:center;
    text-align:center;
    align-items:center;
    padding:2em 1.5em;
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.65);
}
.card svg {
    padding:0.5em;
    display:flex;
    align-items:center;
    justify-content:center;
    justify-self:center;
    box-shadow:none;
}
.card p {
    align-self:flex-start;
    line-height:1.4;
}
.pricing h2{
    margin-bottom:0.5em;
    font-size:2.5rem;
}
.pricing{
    text-align:center;
    width:100%;
    padding:3em max(6%, 2em);
    line-height:1.4;
    font-size:1.6rem;
}
@media (max-width: 775px){
    .pricing, .pricing a{
        font-size:1.3rem;
    }
}
@media(max-width: 585px){
    .pricing, .pricing a{
        font-size:1.1rem;
    }
}
@media(max-width: 450px){
    #servicesheader{
        font-size:2.3rem;
    }
}
.pricing a:hover {
    box-shadow: 0 0 10px rgba(69, 81, 248, 0.5);
}
#reach{
    padding:0.3em;
    margin:0.4em;
}
#please{
    display:flex;
    align-items:baseline;
    justify-content:center;
}
@media(max-width: 425px){
    #please, #reach{
        font-size:1.2rem;
        margin-top:1em;
        width:100%;
        flex-wrap: wrap;
    }
}








#contactmain{
    padding: 3em 6% 3em 8.5%; /*8.5% left padding if it looks off*/
    display:flex;
    gap:1.5em;
}
.conleft{
    display:flex;
    flex-direction:column;
    flex:1;
    padding-right:1.5em;
    gap: 2em;
}
#conheader{
    margin-top:0.8em;
    font-size:2.7rem;
    background-image: linear-gradient(to bottom right, rgb(59, 30, 185) 20%, rgb(67, 155, 218) 65%);
    background-clip: text;
    color: transparent;
}
.contactinfo{
    display:flex;
    flex-direction:column;
    background-color:white;
    align-content:flex-start;
    font-size: 1.4rem;
    line-height:1.4;
}
#arrow{
    display:inline;
}
#noarrow{
    display:none;
}
.contactinfo p, #noarrow, #arrow{
    text-align:left;
}
form{
    animation: fadeInLeft 0.8s backwards;
    flex:1.618;
    background-image: linear-gradient(to bottom right, rgb(54, 19, 212) 0%, rgb(42, 151, 230) 100%);
    color:white;
    border-radius:0.8em;
    display:grid;
    gap: 0.5em;
    grid-template-columns: 14ch 1fr;
    grid-template-rows: 2em 6em 6em 6em 10em 8em 0em;
    padding: 0 4em 0.5em 4em;
    grid-template-areas:
        "co co"
        "r r"
        "r r"
        "r r"
        "r r"
        "r r"
        "pr pr";
}
form h2{
    font-size:2rem;
    grid-area: co;
    justify-self:center;
    align-self:center;
}
form label{
    font-size:1.2rem;
    justify-self:flex-start;
}
form input, textarea{
    justify-self:center;
    width:100%;
    height:2.7em;
    border-radius:0.8em;
    padding:0.2em 1em;
    border:none;
    margin-left:1em;
    font-family: "Gabarito", sans-serif;
    font-size:1.2rem;
    font-weight:400;
    transition: all 0.1s ease;
}
form input:focus, form textarea:focus{
    z-index:2;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Add a shadow effect */
    outline: none;
    transform:scale(1.01);
}
#message{
    height:100%;
    padding:1em;
}
.formgroup{
    align-items:baseline;
    grid-template-columns:subgrid;
    display:grid;
    grid-column:span 2;
}
#submit{
    font-family: "Gabarito", sans-serif;
    font-weight:600;
    letter-spacing:0.05em;
    align-self:center;
    justify-self:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    color:white;
    outline:2.5px solid white;
    background-color:blue;
    border-radius:0.8em;
    border:none;
    height:2em;
    padding: 0.5em 1em;
    text-align:center;
    transition: background-color 0.1s ease-in-out, transform 0.1s cubic-bezier(0, 0.17, 0.08, 0.99), box-shadow 0.1s ease;
}
#submit:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transform: scale(1.08);
    background-color:rgb(35, 124, 240);
}
#privacy {
    margin-bottom:1em;
    font-size:1rem;
    grid-area: pr;
    color:white;
    transition: color 0.2s ease;
}
@media (max-width: 1100px) {
    #contactmain{
        flex-direction:column;
        padding-left:6%;
    }
    .conleft{
        padding:0;
    }
    #conheader, form, .contactinfo{
        margin: 0.5em auto;
    }
    #conheader{
        margin-top:0;
    }
    form{
        width:100%;
    }
    #arrow{
        display:none;
    }
    #noarrow{
        display:inline-block;
    }
    .contactinfo p, #noarrow, #arrow{
        text-align:center;
    }
}
@media(max-width: 750px){
    #contactmain{
        padding:4em 6%;
    }
    .contactinfo p, #noarrow, form label, form input, textarea, #submit {
        font-size: 1.2rem;
    }
    form input{
        height:2.5em;
    }
    #message{
        padding:0.8em 1em;
    }
}
@media(max-width: 630px){
    form{
        grid-template-columns: 11ch 1fr;
    }
    .contactinfo p, #noarrow {
        font-size: 1.1rem;
    }
}
@media(max-width: 475px){
    form{
        grid-template-columns: 1fr 0;
        grid-template-rows: 2em repeat(3, 1.5em 4em) 2em 8em 8em 0em;
        grid-template-areas:
        "co"
        "r"
        "r"
        "r"
        "r"
        "r"
        "r"
        "r"
        "r"
        "r"
        "r"
        "pr";
    }
    .formgroup{
        grid-template-rows:subgrid;
        grid-row:span 2;
        grid-column: 1 / 2;
        width:100%;
    }
    #noarrow{
        margin-left: 2em;
        margin-right: 2em;
    }
    form input, textarea {
        margin:0;
        padding: 0em 0.8em;
    }
    #message{
        padding:0.8em;
    }
    form label{
        align-self:flex-end;
        margin-left:0.8em;
    }
    #privacy{
        justify-self:center;
        margin:0;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
@media (max-width: 380px){
    form h2{
        font-size: 1.6rem;
    }
}

#tog-pp {
    display:none;
}

#privacy:hover{
    color: rgb(158, 158, 170);
}
#overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:19;
    background-color: rgba(0, 0, 0, 0.2);
}
#privacy-policy{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:none;
    font-weight:300;
    z-index:20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    position:fixed;
    height:76%;
    width:60%;
    padding:3em;
    border-radius:0.8em;
    overflow-y: auto;
    background-color:rgb(255, 255, 255);
    border: 1em solid rgb(255, 255, 255);
    outline: 2px solid black;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}
#tog-pp:checked ~ #privacy-policy, #tog-pp:checked ~ #overlay {
    display:inline-block;
}
#privacy-policy li {
    margin-left: 3em;
}
#privacy-policy h2{
    margin-top: 1em;
    font-size: 1rem;
}
#privacy-policy a{
    text-decoration: underline;
}
#closepp{
    position: fixed;
    top:0;
    left:0;
    transition: all 0.1s ease;
}
#closepp:hover{
    transform:scale(1.2);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}
@media (max-width:1000px) {
    #privacy-policy{
        width:88%;
    }
}
@media (max-width:500px) {
    #privacy-policy h1{
        font-size:1.5rem;
    }
    #privacy-policy h2, #privacy-policy p, #privacy-policy li, #privacy-policy a{
        font-size:0.8rem;
    }
}


footer{
    scroll-snap-align:end;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100%;
    background-color:rgb(237, 244, 247);
}
.footertop{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    margin: 50px 0 15px 0;
    color: rgb(0, 0, 0);
}
.footertop h1{
    font-weight: 600;
    font-size:1.8rem;
}
.footertop > h2 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 4em;
    font-weight: 500;
}
.footertop > h2::selection {
    color:black;
    background-color:rgb(237, 244, 247);;
}
footer hr{
    display:none;
}
.footerinfo {
    display:flex;
    flex-direction: column;
    gap: 0.3em;
}
.footerinfo h5{
    font-weight:600;
}
.socials{
    width:100%;
    height:auto;
    margin: 15px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    transform:translateX(2px)
}
.socials svg{
    fill: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    transition: fill 0.1s ease-in-out;
}
.socials a{
    margin: 1em;
}
#facebook{
    transform:translate(-4px, -1px);
}
#facebook:hover{
    fill: rgb(8, 102, 255);
}
#instagram{
    transform: scale(1.2);
}
#instagram:hover{
    fill: rgb(253,1,190);
}
#tiktok:hover{
    fill:rgb(37, 244, 238);
}
#yt{
    transform:translate(-1px, 1px);
}
#yt:hover{
    fill:rgb(254, 0, 0);
}
@media(max-width: 850px){
    .footertop{
        flex-direction: column;
    }
    .footertop > h2 {
        display:none;
    }
    .footertop>hr{
        display:inline-block;
        border:none;
        outline:none;
        border-bottom:3px solid black;
        width:100px;
        margin: 12px auto;
    }
    .footerinfo{
        align-items: center;
    }
}
@media(max-width: 420px){
    .footertop h1 {
        font-size:1.3rem;
    }
}

@keyframes fadedown{
    from{
        opacity:0;
        transform: translateY(-40px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}
.fadedown {
    animation:fadedown 0.8s ease backwards;
}
.mission{animation-delay:0.4s;}
.computer{animation-delay:0.6s;}
.collabpic{animation-delay:0.8s;}
.approach{animation-delay:1s;}
.story h1{
    animation-delay:0s;
}
.story p{
    animation-delay:0.2s;
}

@keyframes fadeexist {
    from{opacity:0;}
    to{opacity:1;}
}

.conhr{
    border: 0;
    height: 2px;
    background-color: black; /* Adjust color here */
    animation: fadeexist 0.8s ease-in backwards;
}

#conheader{
    animation-delay:0s;
}
.feel{
    animation-delay:0.2s;
}
#arrow{
    animation-delay:0.4s;
}
#noarrow{
    animation-delay:0.6s;
}
form{
    animation-delay:0.8s;
}




body{
    overflow-y:hidden;
}